@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #fdba74;
  font-family: 'JetBrains Mono', monospace;
}

/* Custom scrollbar for that raw IDE feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #431407;
  border: 1px solid #7c2d12;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c2d12;
}